[/]
tools.staticdir.root = os.getcwd()

[/css]
tools.staticdir.on = True
tools.staticdir.dir = "css"

[/javascript]
tools.staticdir.on = True
tools.staticdir.dir = "javascript"

[/images]
tools.staticdir.on = True
tools.staticdir.dir = "images"

[/json]
tools.staticdir.on = True
tools.staticdir.dir = "json"